# Compiled Python files
*.pyc
*.qmlc
.mypy_cache
.pytest_cache
.cache
__pycache__
venv

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# IDE project files
.idea
.vscode

# Test files
.coverage
